:root {
  --defult-color: #fff;
  --primary-color: #000;
  --secondary-color: #097877;
  --tertiary-color: #6ccdbf;
  --light-bg-color: #f2f0f4;
  --input-bg: #100f0f;
  --border-color: #7d7878;
  --heading-color: #422c9b;
  --btn-bg: #173433;
  --design-bg: #6dcec0;
  --section-bg: #dbf7f3;
  --roboto: "Roboto", sans-serif;
  --sec-hdr-color: #054645;
}
.box {
  background-color: #f2fbfe;
  width: 100%;
  border: 1px solid var(--input-bg);
  border-radius: 20px;
}
.box > p {
  font-size: 20px;
}
/* Header Section */
.hdr-sec {
  position: relative;
}
.nav-link:hover {
  color: var(--input-bg);
  font-weight: 500;
}
/* Quize Card */
.quiz-c-wrpr {
  padding: 70px 0 130px;
}
.quize-c-card {
  max-width: 1028px;
  margin: 0 auto;
  background: var(--defult-color);
  border-radius: 20px;
  border: 1px solid var(--input-bg);
}
.quize-c-cardTop {
  width: 100%;
  padding-block: 42px 49px;
  background: linear-gradient(
    90deg,
    rgba(8, 144, 130, 0.67) 51%,
    rgba(255, 197, 37, 0.67) 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.quize-c-cardTop h2 {
  font-family: var(--roboto);
  font-size: 30px;
}
.quize-c-cardBtm {
  padding: 70px 36px 70px 43px;
}
.score-ring {
  width: 330px;
  height: 330px;
  margin: 0 auto;
  border-radius: 50%;
  background: conic-gradient(#fe7e0f 0deg 70deg, #097877 70deg 360deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-center {
  width: 220px;
  height: 220px;
  background: #d9d9d9;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score-center .title1 {
  max-width: 122px;
  line-height: 36px;
}

.quize-c-card .sec-hdr {
  font-family: var(--roboto);
  color: var(--input-bg) !important;
}
.quize-badges {
  margin-block: 30px 70px;
}
.badge {
  font-family: "Playfair Display", serif;
  background-color: #525252;
  border-radius: 20px;
  padding: 11.5px 35.5px;
}
.active-badge {
  background-color: #fbcc14;
}
.big-box {
  padding-block: 17px;
}

.big-box > p {
  margin-block: 4px 0;
}
.quize-stats {
  margin-block: 70px;
}
.quize-stats .stat:nth-child(2) {
  margin-block: 24px;
}
.small-box {
  padding: 24px 71px 24px 24px;
}
.small-box p {
  margin-left: 27px;
}
.achive-box {
  margin-top: 70px;
  border-radius: 20px;
  border: 1px solid var(--input-bg);
  padding: 30px 23px;
}
.achive-hdr {
  margin-bottom: 23px;
}
.achive-hdr svg {
  margin-right: 25px;
}
.mid-box {
  padding: 23px 30px;
}
.mid-box span {
  width: 42px;
  height: 38px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #edb007;
}
.green-circle {
  background-color: var(--secondary-color) !important;
}
@media screen and (max-width: 1200px) {
  .title3 {
    line-height: 24px;
  }
  .small-box {
    padding: 24px 57px 24px 24px;
  }
}
@media screen and (max-width: 992px) {
  .quize-c-cardBtm {
    padding: 50px 25px 50px 33px;
  }
  .quize-badges {
    margin-block: 25px 50px;
  }
  .small-box {
    padding: 16px 21px 16px 18px;
  }
  .small-box p {
    margin-left: 10px;
  }
  .quize-c-cardTop h2 {
    font-size: 26px;
  }
  .quiz-c-wrpr {
    padding: 50px 0 90px;
  }
  .quize-stats {
    margin-block: 50px;
  }
  .box > p {
    font-size: 18px;
  }
  .achive-box {
    margin-top: 50px;
    padding: 30px 23px 10px;
  }
  .mid-box {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .box > p {
    font-size: 13px;
  }
  .quiz-c-wrpr {
    padding: 40px 0 70px;
  }
  .quize-c-card {
    border-radius: 12px;
  }

  .quize-c-cardTop {
    padding-block: 28px 29px;
    border-top-left-radius: 12x;
    border-top-right-radius: 12px;
  }
  .quize-c-cardTop h2 {
    font-size: 22px;
  }
  .quize-c-cardBtm {
    padding: 40px 16px 40px 20px;
  }
  .quize-badges {
    margin-block: 20px 40px;
  }
  .badge {
    border-radius: 12px;
    padding: 8.5px 28.5px;
  }
  .big-box {
    padding-block: 12px;
  }
  .quize-stats {
    margin-block: 40px;
  }
  .quize-stats .stat:nth-child(2) {
    margin-block: 14px;
  }
  .small-box {
    padding: 14px 10px 13px 14px;
  }
  .small-box p {
    margin-left: 5px;
  }
  .small-box svg {
    width: 20px;
    height: 20px;
  }
  .achive-box {
    margin-top: 40px;
    padding: 22px 17px 10px;
  }

  .mid-box {
    margin-bottom: 15px;
    padding: 15px 20px;
  }
  .mid-box span {
    width: 23px;
    height: 21px;
    margin-right: 8px;
  }
}
@media screen and (max-width: 576px) {
  .box {
    border-radius: 6px;
  }
  .box > p {
    font-size: 10px;
  }
  .quiz-c-wrpr {
    padding: 30px 0 50px;
  }
  .quize-c-cardBtm {
    padding: 26px 14px;
  }
  .score-ring {
    width: 228px;
    height: 230px;
  }
  .score-center {
    width: 160px;
    height: 160px;
  }
  .quize-badges {
    margin-block: 16px 24px;
  }
  .badge {
    border-radius: 10px;
    padding: 5.5px 10.5px;
  }
  .big-box {
    padding-block: 8px;
  }
  .quize-stats {
    margin-block: 26px;
  }
  .quize-stats .stat:nth-child(2) {
    margin-block: 8px;
  }
  .achive-box {
    margin-top: 26px;
    border-radius: 12px;
    padding: 16px 12px 7px;
  }
  .small-box svg {
    width: 15px;
    height: 15px;
  }
  .small-box {
    padding: 12px 5px 8px 6px;
  }
}
@media screen and (max-width: 400px) {
  .quiz-c-wrpr .title3 {
    font-size: 14px;
  }
  .badge {
    border-radius: 7px;
    padding: 3.5px 5.5px;
  }
  .quize-c-cardBtm {
    padding: 20px 10px;
  }
  .small-box {
    padding: 9px 3px 6px 4px;
  }
}
