@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--roboto);
  overflow-x: hidden;
}

:root {
  --defult-color: #fff;
  --primary-color: #000;
  --secondary-color: #097877;
  --tertiary-color: #6ccdbf;
  --light-bg-color: #f2f0f4;
  --input-bg: #100f0f;
  --border-color: #7d7878;
  --heading-color: #422c9b;
  --btn-bg: #173433;
  --design-bg: #6dcec0;
  --section-bg: #dbf7f3;
  --roboto: "Roboto", sans-serif;
  --sec-hdr-color: #054645;
  --free-color: #f8d468;
  --payment-text-color: #100f0f;
  --input-bg-color: #d0d2eb;
}

ul {
  list-style-type: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}
/* Header Section */
.hdr-sec {
  position: absolute;
  width: 100%;
}
/* 
====================
PAYMENT SECTION
====================
*/

.payment-sec {
  padding: 210px 0;
  position: relative;
  background: #d8f2ee;
}

.payment-curve {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
}

.payment-curve > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.payment-hdr {
  margin-bottom: 46px !important;
}

.payment-cntn {
  position: relative;
  max-width: 1320px;
  border-radius: 35px;
  color: var(--payment-text-color);
  background: var(--defult-color);
}

.payment-left {
  border-radius: 35px;
  background-color: #a9d0d0;
  padding: 55px 60px 70px 83px;
}

.payment-logo {
  max-width: 108px;
}

.payment-logo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pdf-btn {
  margin-top: 37px;
  border: none;
  background: transparent;
  font-size: 14px;
  color: var(--input-bg);
}

.pdf-btn svg {
  margin-right: 16px;
}

.price-details {
  margin-top: 38px;
}

.price-details h5 {
  font-family: "Playfair Display";
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}

.price-details span {
  font-size: 24px;
  font-weight: 600;
}

.small-text {
  font-size: 14px;
  margin-left: 30px;
}

.pay-price:nth-child(4) {
  margin-bottom: 68px;
}

.pay-price:last-child > h5,
.pay-price:last-child span {
  font-size: 30px;
}

.payment-right {
  padding: 100px 79px 83px 0;
}

.payment-btn {
  padding: 22px 31px;
  margin-right: 30px;
  border-radius: 20px;
  border: 1px solid var(--payment-text-color);
  background: transparent;
}

.payment-btn.active1 {
  border: 2px solid var(--payment-text-color);
  background-color: var(--input-bg-color);
}

.payment-btn span {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 700;
  margin-left: 15px;
}

.card-details .form-label,
.form-check {
  font-family: "Playfair Display";
  font-size: 19px;
  font-weight: 700;
  margin: 15px 0;
}

.form-control {
  width: 100%;
  padding: 24px 30px;
  background: var(--input-bg-color);
  border-radius: 20px;
  font-size: 25px;
}

.form-control:focus {
  box-shadow: none !important;
  background-color: var(--input-bg-color) !important;
  border: none !important;
}

.form-check-input {
  border: 1px solid var(--payment-text-color);
}

.form-check-label {
  margin-left: 26px;
}

.card-wrpr {
  position: relative;
}

.card-wrpr > img {
  position: absolute;
  top: 12px;
  left: 31px;
  width: 60px;
  height: 60px;
}

.card-input {
  padding-left: 114px !important;
}

hr {
  margin: 0 !important;
  opacity: 0.8 !important;
}

.payment-right .banner-btn {
  border-radius: 20px;
  margin: 24.5px 0;
}

.payment-right .banner-btn a {
  width: 100%;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 
=====================
MEDIA QUERIES
=====================
*/

@media screen and (max-width: 1200px) {
  .payment-left {
    border-radius: 30px;
    padding: 48px 56px 63px 64px;
  }
  .payment-btn {
    padding: 15px 20px;
  }

  .payment-btn span {
    font-size: 12px;
  }

  .payment-btn svg {
    height: 25px;
    width: 25px;
  }

  .form-control {
    padding: 18px 30px;
    font-size: 20px;
  }

  .card-wrpr > img {
    top: 15px;
    left: 25px;
  }
  .payment-right {
    padding: 90px 60px 74px 0;
  }
  .payment-right .banner-btn a {
    font-size: 30px;
  }

  .pdf-btn p {
    font-size: 12px;
  }

  .price-details h5 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .price-details span {
    font-size: 16px;
  }

  .small-text {
    font-size: 11px;
    margin-left: 14px;
  }

  .total,
  .pay-price:last-child span {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 992px) {
  .payment-cntn {
    border-radius: 20px;
  }
  .payment-left {
    border-radius: 20px;
    padding: 40px 30px;
  }
  .pdf-btn {
    margin-top: 30px;
  }
  .card-wrpr > img {
    top: 19px;
    left: 29px;
    height: 30px;
    width: 44px;
  }
  .pay-price:nth-child(4) {
    margin-bottom: 40px;
  }
  .small-text {
    margin-bottom: 0;
  }
  .card-input {
    padding-left: 98px !important;
  }

  .price-details h5 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  .price-details {
    margin-top: 25px;
  }

  .price-details span {
    font-size: 18px;
  }
  .payment-right {
    padding: 47px 25px 38px 0;
  }
  .payment-btn {
    padding: 14px 14px;
    border-radius: 15px;
    margin-right: 14px;
  }
  .payment-btn span {
    margin-left: 10px;
  }
  .pay-option-btns .payment-btn:last-child {
    margin-right: 0;
  }
  .form-control {
    border-radius: 12px;
    padding: 12px 20px;
    font-size: 16px;
  }
  .card-wrpr > img {
    top: 12px;
    left: 23px;
  }
  .form-check-label {
    margin-left: 20px;
    font-size: 17px;
  }
  .payment-right .banner-btn a {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .payment-sec {
    padding: 200px 0 100px;
  }
  .payment-cntn {
    border-radius: 14px;
  }
  .payment-left {
    padding: 30px 20px 30px 18px;
    border-radius: 14px;
  }
  .payment-logo {
    max-width: 80px;
  }

  .pdf-btn {
    margin-top: 18px;
    font-size: 12px;
  }
  .pdf-btn svg {
    width: 12px;
    height: 11px;
    margin-right: 8px;
  }

  .price-details {
    margin-top: 30px;
  }
  .price-details h5 {
    font-size: 14px;
  }
  .price-details span {
    font-size: 14px;
  }
  .small-text {
    font-size: 10px;
    margin-left: 12px;
  }
  .payment-btn {
    padding: 10px 15px;
  }
  .pay-price:nth-child(4) {
    margin-bottom: 30px;
  }
  .total,
  .pay-price:last-child span {
    font-size: 16px !important;
  }
  .payment-right {
    padding: 34px 15px 14px 0;
  }
  .payment-btn {
    padding: 9px 8px;
    border-radius: 10px;
  }
  .payment-btn svg {
    width: 15px;
    height: 15px;
  }
  .payment-btn span {
    margin-left: 5px;
    font-size: 10px;
  }
  .card-details .form-label,
  .form-check {
    font-size: 14px;
    margin: 12px 0;
  }
  .form-control {
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 8px;
  }
  .form-check-label {
    margin-left: 10px;
    font-size: 15px;
  }
  .card-wrpr > img {
    top: 11px;
    left: 15px;
    height: 17px;
    width: 28px;
  }

  .card-input {
    padding-left: 84px !important;
  }

  .payment-right .banner-btn {
    margin: 18.5px 0;
  }
  .payment-right .banner-btn a {
    font-size: 18px;
    border-radius: 14px;
  }
}

@media screen and (max-width: 576px) {
  .payment-sec {
    padding: 100px 0 70px;
  }
  .payment-hdr {
    margin-bottom: 30px !important;
  }
  .payment-cntn {
    border-radius: 8px;
  }

  .payment-left {
    border-radius: 8px;
    padding: 23px 16px;
  }
  .price-details {
    margin-top: 24px;
  }

  .payment-logo {
    max-width: 68px;
  }

  .pdf-btn p {
    font-size: 9px;
  }

  .price-details h5 {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .price-details span {
    font-size: 14px;
  }

  .small-text {
    font-size: 9px;
  }

  .total,
  .pay-price:last-child span {
    font-size: 16px !important;
  }

  .payment-btn span {
    font-size: 9px;
  }

  .payment-btn svg {
    height: 18px;
    width: 18px;
  }

  .payment-btn {
    padding: 7px 12px;
  }

  .card-details .form-label,
  .form-check {
    font-size: 14px;
  }
  .payment-right {
    padding: 34px 15px 14px 14px;
  }

  .form-control {
    padding: 6px 14px;
    font-size: 12px;
  }

  .card-wrpr > img {
    top: 9px;
    left: 14px;
    height: 14px;
    width: 22px;
  }

  .card-input {
    padding-left: 46px !important;
  }
  .form-check-label {
    margin-left: 9px;
    font-size: 13px;
  }
  .payment-right .banner-btn {
    margin: 14.5px 0;
  }
  .payment-right .banner-btn a {
    font-size: 16px;
  }
}
