:root {
  --defult-color: #fff;
  --primary-color: #000;
  --secondary-color: #097877;
  --tertiary-color: #6ccdbf;
  --light-bg-color: #f2f0f4;
  --input-bg: #100f0f;
  --border-color: #7d7878;
  --heading-color: #422c9b;
  --btn-bg: #173433;
  --design-bg: #6dcec0;
  --section-bg: #dbf7f3;
  --roboto: "Roboto", sans-serif;
  --playfair: "Playfair Display", serif;
  --sec-hdr-color: #054645;
  --size-48px: clamp(2.2rem, 4.5vw, 4rem);
  --size-24px-h2: clamp(1.3rem, 2vw, 1.71rem);
  --size-24px-p: clamp(1.1rem, 1.3vw, 1.71rem);
  --size-22px-h3: clamp(1.25rem, 1.9vw, 1.57rem);
  --size-20px: clamp(1.05rem, 1.2vw, 1.43rem);
  --size-18px: clamp(1.1rem, 1.1vw, 1.29rem);
  --icon-color: #09FE67;
  --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

html,
body {
  font-family: var(--roboto);
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
ul,
li,
a {
  padding: 0;
  margin: 0;
}

.title4 {
  font-size: var(--size-20px);
  color: var(--input-bg);
  font-weight: 500;
}

/* Quiz Questions Section */
.progress {
  border-radius: 20px;
  border: 1px solid var(--input-bg);
  background: rgba(125, 120, 120, 0.3);
  margin: 10px 0px 60px;
}

.progress-bar {
  background: var(--secondary-color);
}


.progress-hdr p {
  font-size: var(--size-18px);
  color: var(--input-bg);
}

.question-card {
  padding: 30px;
  box-shadow: var(--box-shadow);
  border-radius: 15px;
  border: 1px solid var(--input-bg);
  margin-bottom: 20px;
}

.question-card:last-child {
  margin-bottom: 0;
}

.answer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 20px;
  margin-top: 30px;
}

.answer-btn {
  display: block;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: var(--size-18px);
  font-weight: 500;
  color: var(--input-bg);
}


.submit-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}


@media screen and (max-width:576px) {
  .answer-grid {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .answer-btn {
    padding: 12px;
  }
}
/* Add this to highlight selected buttons */
.selected-opt {
  background-color: var(--secondary-color) !important;
  color: white !important;
  border-color: var(--secondary-color) !important;
}

.section-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.question-sec{
    padding-top: 140px;
}