:root {
  --defult-color: #fff;
  --primary-color: #000;
  --secondary-color: #097877;
  --tertiary-color: #6ccdbf;
  --light-bg-color: #f2f0f4;
  --input-bg: #100f0f;
  --border-color: #7d7878;
  --heading-color: #422c9b;
  --btn-bg: #173433;
  --design-bg: #6dcec0;
  --section-bg: #dbf7f3;
  --roboto: "Roboto", sans-serif;
  --playfair: "Playfair Display", serif;
  --sec-hdr-color: #054645;
  --size-48px: clamp(2.2rem, 4.5vw, 4rem);
  --size-24px-h2: clamp(1.3rem, 2vw, 1.71rem);
  --size-24px-p: clamp(1.1rem, 1.3vw, 1.71rem);
  --size-22px-h3: clamp(1.25rem, 1.9vw, 1.57rem);
  --size-20px: clamp(1.05rem, 1.2vw, 1.43rem);
  --size-18px: clamp(1.1rem, 1.1vw, 1.29rem);

}

html,
body {
  font-family: var(--roboto);
  overflow-x: hidden;
}

h1,
h2 {
  font-family: var(--playfair);
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

ul,
p {
  list-style: none;
  margin: 0;
  padding: 0;

}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  border: none;
  outline: none;
  background: none;
}


/* 
===================
Banner Section
===================
*/



.hdr-sec {
  position: absolute;
  top: 2px;
  width: 100%;
  z-index: 999;
 
  padding: 0;
}



.quiz-sec {
  background: url(../assets/QuizPage/quizBg9.png) no-repeat center/cover;
  height: 100vh;
  padding: 140px 0 0px;
  display: flex;
  background-attachment: fixed;

}

.quizBnr-wrpr {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.quiz-cntn {
  max-width: 642px;
}

.quiz-title1 {
  color: var(--defult-color);
  font-size: var(--size-48px);
}

.quiz-cntn>p {
  color: rgba(255, 255, 255, 0.8);
  font-size: var(--size-24px-p);
  margin-top: 10px;

}


.quiz-btnBox {
  margin-top: 40px;
}

.offcanvas-header {
  color: var(--defult-color);

}

.navbar-toggler {
  color: var(--defult-color);
  font-size: 1.5rem;
}

.breadcrumb-box {
  position: absolute;
  bottom: 2%;
  right: 50%;
  transform: translate(50%, 50%);
}

.breadcrumb-item,
.breadcrumb-item a {
  color: rgba(255, 255, 255, 1) !important;
  font-size: 1.5rem;
  font-weight: 400 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5) !important;
  float: none;
}


/* 
=================
Popular Section
=================
*/

.popular-sec {
  padding: 70px 0;
}

.quiz-card {
  padding: 10px;
}

.card-cntn {
  padding: 30px 12.5px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}


.card-cntn::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid rgba(82, 82, 82, 0.6);
  border-radius: 20px;
  transform: scale(1);
  transition: transform 0.5s ease-out;
  z-index: 2;
  pointer-events: none;
}

.card-cntn::after {
  content: "";
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  border-radius: 20px;
  transition: 0.4s ease-in;
}

.card-cntn:has(.btn-secondary:hover)::after {
  height: 100%;
}

.card-cntn:has(.btn-secondary:hover)::before {
  transform: scale(0);
}

.quiz-card h2 {
  font-size: var(--size-24px-h2);
  color: var(--primary-color);
}

.quiz-card p {
  margin: 20px 0;
  font-size: var(--size-20px);
}

/* 
========================
Category Section
========================
*/

.category-sec {
  padding: 0 0 60px;
}

.category-headr {
  font-size: var(--size-24px-h2);
  font-weight: 600;
  color: var(--primary-color);
}

.category-list {
  margin: 20px 0 10px;
  padding: 10px 0;
  display: flex;
}

.list-items {
  max-width: 171px;
  width: 100%;
  padding: 15px 39px;
  border: 1px solid #C3BEBE;
  border-radius: 10px;
  margin-right: 20px;
  font-size: var(--size-18px);
  color: var(--primary-color);
  transition: 0.3s linear;

  &:hover {
    color: var(--defult-color);
    background: var(--secondary-color);
  }
}

.list-items:last-child {
  margin: 0;
}

.filter {
  color: var(--border-color);
  font-size: var(--size-20px);
  display: none;
}

.grid-card {
  margin-top: 60px;
}

.category-card {
  max-width: 413px;
  border: 1px solid var(--border-color);
  margin: 0px auto 40px;
}


.cardCategory-cntn {
  padding: 0 10px;
}

.cardImg {
  max-width: 100%;

}

.category-card h3 {
  font-size: var(--size-22px-h3);
  font-weight: 500;
  margin: 15px 0 5px;
}

.qstn span i {
  font-size: 24px;
  margin-right: 20px;
}

.qstn p {
  font-size: 18px;
}

.categoryCard-btn {
  margin: 29px 0;
}

/* 
========================
Progress Bar Section
========================
*/
.progress-sec {
  padding: 40px 0;
  background: url(../assets/QuizPage/progress-bg.png) no-repeat center/cover;
}

.progress-cntn h2 {
  font-size: var(--size-24px-h2);
  font-weight: 600;
  color: #121313;
}

.form-label {
  font-size: var(--size-20px);
  margin: 10px 0;
  color: rgba(31, 30, 30, 0.6);
}

.progress-level {
  font-family: var(--playfair);
  font-size: var(--size-48px);
  font-weight: 600;
}

.cmplt {
  margin-top: 10px;
}

.cmplt p {
  font-size: var(--size-20px);
  color: var(--defult-color);
}

.progress-bar {
  background: var(--secondary-color);
}

/* 
========================
Achievement Section
========================
*/

.achv-sec {
  padding: 50px 0;
}


.achv-card {
  padding: 20px;
  border-radius: 20px;
  max-width: 413px;
  margin: 0 auto 30px;
}

.achv-card.blue-bg {
  background: rgba(8, 17, 155, 0.2);
  border: 1px solid #08119B;

}

.achv-card.grey-bg {
  background: rgba(125, 120, 120, 0.2);
  border: 1px solid var(--primary-color);

}

.achv-logo {
  max-width: 50px;
}

.achv-logo img {
  object-fit: cover;
}

.achcCard-cntn {
  --card-color: #716D6D;
  margin-left: 30px;

}

.achv-card h3 {
  font-size: var(--size-18px);
  font-weight: 600;
}

.achv-card p {
  font-size: var(--size-18px);
  color: var(--card-color);
}



/* 
========================
Responsive Section
========================
*/
@media screen and (max-width: 1200px) {

  /* Banner Section */
  .quiz-sec {
    height: 70vh;
  }

  /* Category Section */

  .filter {
    display: block;
  }

  .category-list {
    display: none;
  }

  .category-list.show {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .list-items {
    margin: 0;
  }

}

@media screen and (max-width:768px) {

  .popular-sec {
    padding: 40px 0;
  }

  .category-sec {
    padding: 0 0 20px;
  }

  .grid-card {
    margin-top: 40px;
  }

  .category-card {
    margin: 0 auto 20px;
  }

}


@media screen and (max-width:576px) {
  .nav-logo {
    height: 60px;
  }

  .breadcrumb-item,
  .breadcrumb-item a {
    font-size: 1rem;
  }

}