.lang-btn {
  font-size: 14px;
  background: none;

  padding: 0;
  border: none;
}
.lang-btn > img {
  width: 44px;
  height: 44px;
  object-fit: contain;
}
.lang-btn > span {
  margin-left: -9px;
}
/* Register Section */
.reg-sec {
  padding: 70px 0;
}

.reg-wrpr {
  max-width: 1150px;
  height: 820px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #daf8f4;
  padding: 30px;
  position: relative;
}
.reg-btm-img {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.reg-img {
  max-width: 500px;
  position: relative;
  z-index: 1;
}
.reg-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reg-cntn {
  max-width: 440px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.reg-m-logo {
  max-width: 356px;
  margin: 0 auto;
}
.reg-m-logo > a {
  width: 100%;
}
.reg-m-logo > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reg-cntn > h2 {
  max-width: 359px;
  margin-block: 28px 10px;
  font-size: 36px;
  color: var(--input-bg);
}
.reg-cntn > p {
  max-width: 359px;
  margin-bottom: 28px;
  line-height: 24px;
}
.reg-option-wrpr {
  width: 100%;
}
.reg-option-card {
  width: 100%;
  height: 180px;
  padding: 13px 19px 15px 20px;
  background-color: var(--defult-color);
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
}
.option-hdr > h3 {
  font-size: 18px;
  color: #0a24cd;
}
.reg-option-card > p {
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 18px;
}

.reg-option-card > a {
  width: 100%;
  padding-block: 12.5px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  font-size: 13px;
  transition: all 0.4s linear;
}
.reg-option-card > a:hover {
  background-color: #023433;
}
.login-txt {
  font-size: 14px;
  margin-top: 26px;
}
.login-txt > a {
  margin-left: 11px;
  color: var(--input-bg);
}

@media screen and (max-width: 1040px) {
  .regm-right-wrpr > .lang-btn {
    margin-top: -70px;
  }
  .reg-wrpr {
    height: 785px;
    border-radius: 17px;
    padding: 25px;
  }
}
@media screen and (max-width: 992px) {
  .lang-btn {
    font-size: 12px;
  }
  .lang-btn > img {
    width: 35px;
    height: 35px;
  }
  .lang-btn > span {
    margin-left: -7px;
  }
  /* Registration Section */
  .reg-wrpr {
    height: 739px;
    border-radius: 17px;
    padding: 23px;
  }
  .regm-right-wrpr > .lang-btn {
    margin-top: -25px;
  }
  .reg-cntn > p {
    margin-bottom: 22px;
    font-size: 14px;
    line-height: 20px;
  }
  .reg-cntn > h2 {
    margin-block: 23px 9px;
    font-size: 30px;
  }
  .reg-cntn > p {
    margin-bottom: 14px;
    font-size: 13px;
    line-height: 20px;
  }
  .reg-option-card {
    padding: 10px 14px 11px 14px;
    border-radius: 8px;
  }
  .option-hdr > h3 {
    font-size: 16px;
  }
  .reg-option-card > p {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
  }
  .reg-option-card > a {
    padding-block: 8.5px;
    border-radius: 9px;
    font-size: 12px;
  }
  .login-txt {
    font-size: 13px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 820px) {
  .reg-wrpr {
    height: 600px;
    border-radius: 17px;
    padding: 23px;
  }
}
@media screen and (max-width: 768px) {
  .lang-btn {
    font-size: 10px;
  }
  .lang-btn > img {
    width: 25px;
    height: 25px;
  }
  .lang-btn > span {
    margin-left: -5px;
  }

  /* Registration Section */
  .reg-sec {
    padding: 50px 0;
  }
  .reg-wrpr {
    height: 565px;
    border-radius: 15px;
    padding: 20px;
  }
  .reg-cntn > h2 {
    margin-block: 10px 4px;
    font-size: 23px;
  }
  .reg-cntn > p {
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 16px;
  }
  .reg-option-card {
    padding: 10px 12px;
    border-radius: 6px;
    height: 160px;
  }
  .option-hdr > h3 {
    font-size: 14px;
  }
  .reg-option-card > p {
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 10px;
  }
  .reg-option-card > a {
    padding-block: 5.5px;
    border-radius: 3px;
    font-size: 10px;
  }
  .login-txt {
    font-size: 11px;
    margin-top: 10px;
  }
  .login-txt > a {
    margin-left: 5px;
    color: var(--input-bg);
  }
}
@media screen and (max-width: 680px) {
  .reg-wrpr {
    height: 494px;
  }
}

@media screen and (max-width: 576px) {
  .lang-btn {
    font-size: 8px;
  }
  .lang-btn > img {
    width: 20px;
    height: 20px;
  }
  .lang-btn > span {
    margin-left: -3px;
  }
  /* Registration Section */
  .reg-sec {
    padding: 30px 0;
  }
  .regm-right-wrpr > .lang-btn {
    margin-top: -10px;
  }
  .reg-wrpr {
    height: 1240px;
    padding: 14px;
  }

  .reg-img {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .reg-wrpr {
    height: 1100px;
    padding: 14px;
  }
}
@media screen and (max-width: 400px) {
  .reg-wrpr {
    height: 856px;
    padding: 14px;
  }
}
