.stud-reg-sec {
  padding: 70px 0;
  position: relative;
}
.student-modal {
  max-width: 1150px;
  height: 820px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #daf8f4;
  padding: 30px;
  position: relative;
}
.stud-r-left {
  max-width: 503px;
  height: 760px !important;
  background: linear-gradient(
    29deg,
    rgba(8, 144, 130, 0.27) 27%,
    rgba(107, 200, 198, 0.32) 77%
  );
  border-radius: 20px;
  padding-block: 32px 24px;
  position: relative;
  z-index: 1;
}
.stud-r-left > h2 {
  margin-top: 97px !important;
}
.stud-r-left > p {
  max-width: 350px;
  margin: 0 auto 222px;
}
.stud-stats {
  padding-top: 17px;
  border-top: 1px solid #ffffff40;
}
.stud-stat {
  font-size: 32px;
  color: #0a24cd;
  line-height: 24px;
}
.stud-stat > span {
  font-size: 15px;
  color: var(--input-bg);
}
.stud-reg-right {
  max-width: 380px;
  margin: 0 auto;
}
.stud-reg-right > p {
  margin-top: 9px;
}

@media screen and (max-width: 992px) {
  .stud-stat {
    font-size: 26px;
    line-height: 24px;
  }
  .stud-stat > span {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .stud-reg-sec {
    padding: 50px 0;
  }
  .student-modal {
    padding: 20px;
    height: 725px;
    border-radius: 15px;
  }
  .stud-r-left {
    padding: 20px 25px;

    height: 680px !important;
  }
  .stud-stat {
    font-size: 20px;
    line-height: 22px;
  }
  .stud-stat > span {
    font-size: 11px;
  }
}
@media screen and (max-width: 576px) {
  .stud-reg-sec {
    padding: 30px 0;
  }
  .student-modal {
    padding: 13px;
    border-radius: 8px;
    height: 980px;
  }

  .stud-r-left {
    border-radius: 8px;
    height: 370px !important;
    padding: 20px 25px;
  }
  .stud-r-left > h2 {
    margin-top: 20px !important;
  }

  .stud-r-left > p {
    max-width: 100%;
    margin: 0 auto 40px;
  }
  .stud-stats {
    justify-content: center;
  }
  .stud-stat {
    font-size: 20px;
    margin-right: 10px;
    line-height: 26px;
  }
  .stud-stat > span {
    font-size: 12px;
  }
}
