:root {
    --body-bg: radial-gradient(circle at bottom left,
            rgba(8, 17, 155, 1) 0%,
            rgba(8, 17, 155, 1) 10%,
            rgba(108, 205, 191, 0.58) 60%,
            rgba(108, 205, 191, 0.58) 100%);
    --primary-color: #100F0F;
    --secondary-color: #097877;
    --tertiary-color: #D9D9D9;
    --default-color: #FFFFFF;
    --roboto: "Roboto", sans-serif;
    --h1-40px: clamp(1.5rem, 2vw, 2.857rem);
    --h2-24px: clamp(1.2rem, 2.8vw, 1.714rem);
    --h3-20px: clamp(1rem, 1.5vw, 1.429rem);
    --p-20px: clamp(1rem, 0.95rem + 0.6vw, 1.429rem);
    --p-18px: clamp(1rem, 0.95rem + 0.6vw, 1.286rem);
    --p-16px: clamp(1rem, 0.95rem + 0.4vw, 1.143rem);
    --box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

body {
    color: var(--primary-color);
}

/* Assignment Content Section */
.left-sideNav {
    min-height: 1095px;
}

.assignment-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 20px 0;
}

.assignment-icon {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.common-box:nth-child(1) .assignment-icon {
    background: rgba(138, 56, 245, 0.4);
}

.common-box:nth-child(2) .assignment-icon {
    background: rgba(99, 248, 148, 0.72);
}

.common-box:nth-child(3) .assignment-icon {
    background: rgba(254, 126, 15, 0.47);
}

.common-box:nth-child(4) .assignment-icon {
    background: rgba(244, 101, 101, 0.6);
}

.buttonBox {
    max-width: 400px;
    padding: 5px;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
}

.assignmentCourse-btn {
    padding: 6px 10px;
    border-radius: 20px;
    font-size: var(--p-16px);
}

.assignmentCourse-btn.active {
    background: #089085;
    color: var(--default-color);
}

.assignmentCntn-box {
    margin: 40px 0;
}

.assignmentCntn-box h2 {
    color: #089082;
    margin-bottom: 20px;
    font-size: var(--h2-24px);
}

.assignmentCntn-box p {
    font-size: var(--p-20px);
}

.assignmentCourse-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.assignmentCourse-card {
    padding: 25px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-top-color: #08119B;
    border-top-width: 10px;

    /* border-bottom: 5px solid rgba(89, 89, 89, 0.25); */
    box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

.cardActive {
    padding: 13px 30px;
    background: #08119B;
    font-size: 1rem;
    display: inline-flex;
    border-radius: 15px;
    gap: 10px;
    color: var(--default-color);
    margin-right: 20px;
}

.cardActive:last-child {
    background: #089082;
    margin: 0;
}

.assignmentCourse-card h3 {
    font-size: var(--p-18px);
    margin: 30px 0;

}

.content-id {
    display: inline-flex;
    align-items: center;
    background: rgba(138, 56, 245, 0.18);
    border-radius: 15px;
    font-size: var(--p-16px);
    gap: 10px;
    padding: 8px 12px;

}

.assignmentCourse-card>p {
    font-size: var(--p-18px);
    margin: 40px 0;
}

.assignment-date {
    box-shadow: var(--box-shadow);
    background: #F3EEEE;
    padding: 12px;
    border-radius: 15px;
}

.assignment-date>.assignment-list>p {
    font-size: var(--p-16px);
}

.assignment-date>.assignment-list {
    margin-left: 20px;
}

.progress-barBox {
    background: rgba(8, 144, 130, 0.47);
    box-shadow: var(--box-shadow);
    padding: 12px;
    border-radius: 15px;
    margin-top: 30px;
}

.barBox-top {
    font-size: var(--p-16px);
    margin-bottom: 15px;
}


.progress,
.progress-stacked {
    height: 10px !important;
    border-radius: 20px !important;
}

.progress-bar {
    background: #089082;
}

/* Responsive Section */

@media screen and (max-width:1600px) {
    .left-sideNav {
        min-height: 100vh;
    }

}

@media screen and (max-width:1200px) {

    .assignment-grid,
    .assignmentCourse-grid {
        grid-template-columns: 1fr 1fr;
    }



    .assignmentCourse-grid .assignmentCourse-card:last-child {
        grid-column: 1 / -1;
        width: 50%;
        justify-self: center;
    }

    /* .assignment-grid .common-box:last-child {
        grid-column: 2 / 3;
    } */
}

@media screen and (max-width:992px) {
    .assignmentCourse-grid {
        grid-template-columns: 1fr;
    }

    .assignmentCourse-grid .assignmentCourse-card:last-child {
        grid-column: auto;
        width: 100%;
        justify-self: auto;
    }
}

@media screen and (max-width:576px) {
    .assignment-grid {
        grid-template-columns: 1fr;
    }

    .buttonBox {
        justify-content: center !important;
    }

    .assignmentBtn-list:last-child {
        margin-top: 10px;
    }

    .assignmentCourse-card {
        padding: 20px;
    }

    .cardActive,
    .assignment-date {
        padding: 10px;

    }

    .cardActive {
        margin-right: 10px;
    }

}