@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: radial-gradient(circle at bottom left,
      rgba(8, 17, 155, 1) 0%,
      rgba(8, 17, 155, 1) 10%,
      rgba(108, 205, 191, 0.58) 60%,
      rgba(108, 205, 191, 0.58) 100%);
  --primary-color: #100f0f;
  --secondary-color: #097877;
  --tertiary-color: #d9d9d9;
  --default-color: #ffffff;
  --roboto: "Roboto", sans-serif;
  --h1-40px: clamp(1.5rem, 2vw, 2.857rem);
  --h2-24px: clamp(1.2rem, 2.8vw, 1.714rem);
  --h3-20px: clamp(1rem, 1.5vw, 1.429rem);
  --p-20px: clamp(1rem, 0.95rem + 0.6vw, 1.429rem);
  --p-18px: clamp(1rem, 0.95rem + 0.6vw, 1.286rem);
  --p-16px: clamp(1rem, 0.95rem + 0.4vw, 1.143rem);
}

span {
  display: inline-block;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
a,
figure {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  color: var(--primary-color);
}

button {
  background: none;
  border: none;
  outline: none;
}

html,
body {
  font-family: var(--roboto);
  color: var(--primary-color);
  overflow-x: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  max-width: 1903px;
}

.title1 {
  font-size: var(--h1-40px);
  font-weight: 500;
}

.title2 {
  font-size: var(--p-18px);
  font-weight: 600;
}

.title3 {
  font-size: var(--h3-20px);
  font-weight: 600;
}

.title4 {
  font-size: 1.4rem;
}

/* 
==========
Dark/Light Mode Switch
==========
*/

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73c0fc;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked+.slider {
  background-color: #183153;
}

.input:focus+.slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked+.slider:before {
  transform: translateX(30px);
}

/* 
==========
Button Section
==========
*/
.menu-btn {
  display: none;
}

.logout-btn {
  font-size: var(--p-20px);
  font-weight: 500;
}

.bell-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--tertiary-color);
  transition: 0.3s linear;

  &:hover {
    box-shadow: 0 0 0 3px rgba(108, 205, 191, 0.4);
  }
}

.user-btn {
  width: 50px;
  height: 50px;
  transition: 0.3s linear;

  &:hover {
    box-shadow: 0 0 0 3px rgba(108, 205, 191, 0.4);
  }
}

.cmplt-btn {
  padding: 10px 0;
  font-size: var(--p-20px);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  font-size: var(--p-16px);
}

.community-btn {
  padding: 10px 25px;
  font-size: var(--p-20px);
  display: inline-flex;
  justify-content: start;
  align-items: center;
  background: #08119b;
  border-radius: 20px;
  color: var(--default-color);
  margin-top: 15px;
}

.community-btn span:first-child {
  margin-right: 20px;
}

.guage-btn {
  padding: 10px 12px;
  font-size: var(--p-20px);
  border: 1px solid var(--primary-color);
  background: var(--tertiary-color);
  color: var(--primary-color);
  border-radius: 20px;
}

.details-button {
  padding: 10px 17px;
  font-size: var(--p-20px);
  background: var(--tertiary-color);
  border: 1px solid var(--primary-color);
  border-radius: 20px;
}

.titles {
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
  position: relative;
}

.titles::after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.titles:hover::after {
  width: 100%;
  left: 0%;
}

/* 
==========
Dashboard Left Side Content Section
==========
*/

.dashboard {
  padding: 18px 0;
  background: var(--body-bg);
}

.menu-btn {
  display: none;
}

.left-sideNav {
  position: relative;
  overflow-y: auto;
  padding: 40px 10px;
  max-width: 300px;
  min-height: 1440px;
  width: 100%;
  border-radius: 20px;
  overflow-x: hidden;
  transition: left 0.4s ease-in-out;
}

.close-btn {
  display: none;
  position: absolute;
  right: 5%;
  top: 1%;
}

.brand-logo {
  max-width: 80px;
  margin: auto;
}

.brand-logo img {
  object-fit: cover;
}

.dashboard-navbar {
  margin: 40px 0 30px;
}

.dashboardNav-list {
  border-top: 1px solid rgba(16, 15, 15, 0.5);
  border-bottom: 1px solid rgba(16, 15, 15, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.dashboardNav-list>.title3 {
  margin-bottom: 25px;
}

.item-list {
  margin-bottom: 30px;
}

.item-list:last-child {
  margin: 0;
}

.list-link {
  font-size: var(--p-16px);
}

.list-link.active {
  font-weight: bold;
}

.other-menu {
  margin: 30px 0;
}

.other-menu>.title3 {
  margin-bottom: 30px;
}

.effect-btn {
  margin: 50px 0;
}

.dashboard-top {
  padding: 24px;
  border-radius: 20px;
}

.hdr-cntn>.title1 {
  margin-bottom: 10px;
}

.hdr-cntn>p {
  font-size: var(--p-16px);
  font-weight: 300;
}

.button-list {
  margin-right: 20px;
}

.button-list:last-child {
  margin: 0;
}

.user-btn img {
  object-fit: cover;
}

.hdr-menu li:nth-child(2) {
  margin-left: auto;
}

/* 
==========
Content Section
==========
*/

.common-box {
  padding: 30px;
  background: var(--default-color);
  border-radius: 20px;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  grid-template-rows: auto auto auto;
  gap: 24px;
  margin-top: 30px;
  align-items: self-start;
}

.box-1,
.box-2,
.box-3 {
  height: 250px;
}

.box-4 {
  grid-column: 4 / 5;
  grid-row: 1 / 3;
}

.box-5 {
  grid-column: span 3;
}

.box-6 {
  grid-column: span 3;
  height: 255px;
}

.box-7 {
  grid-column: 4 / 4;
  grid-row: 3 / 3;
  min-height: 570px;
  margin-top: -357px;
  padding: 22px 30px;
}

.weak-dropdown {
  -webkit-appearance: none;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 8px 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-image: url("/assets/CoursePage/arrow-down-01.png");
  background-repeat: no-repeat;
  background-position: right 6px center;
  background-size: 14px;
  font-weight: 500;
  font-size: 1rem;
  margin-left: auto;
  text-transform: capitalize;
}

.dashboard-img {
  max-width: 398px;
  float: right;
}

.courseProgress-barBox {
  margin: 20px 0;

}

.progressBarBox-top {
  font-size: var(--p-16px);
}

.main-progress {
  margin-top: 15px;
  height: 5px;
  background: var(--tertiary-color);
}

.mainProgress-bar {
  height: 5px;
  background: var(--primary-color);
}

.progress-list {
  margin-top: 20px;
}

.progress-timing span:last-child {
  font-size: 1rem;
  white-space: nowrap;
}

.form-label {
  font-size: 1.1rem;
}

.box-3 p {
  font-size: var(--p-16px);
  margin-top: 20px;
}

.box-3 p>span {
  font-size: var(--h2-24px);
  font-weight: bold;
}

.activity-dots {
  margin-top: 20px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.dot:last-child {
  margin: 0;
}

.full-dot {
  background: var(--primary-color);
}

.border-dot {
  background: transparent;
  border: 1px solid var(--primary-color);
}

#studyChart {
  width: 100%;
  height: 100%;
}

.chart-wrapper {
  height: 350px;
}

.common-box canvas {
  /* height: 300px !important; */
  width: 100% !important;
}

.box-4>p {
  font-size: var(--p-16px);
  margin: 10px 0 0;
}

.box-5 {
  position: relative;
  height: 725px;
}

.box5-dropdown {
  position: absolute;
  top: 2%;
  right: 1%;
}

.bar-chart {
  margin-top: 90px;
}

.common-box canvas:not(#gaugeChart) {
  /* height: 300px !important; */
  width: 100% !important;
}

.gauge-wrapper {
  position: relative;
  width: 260px;
  margin-left: auto;
  height: 160px;
}

#gaugeChart {
  width: 100% !important;
  height: 100% !important;
}

.gauge-value {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 600;
  font-size: 18px;
}

.mentors {
  margin-top: 20px;
}

.mentor-img {
  max-width: 60px;
  margin-right: 10px;
}

.mentor-img img {
  object-fit: cover;
}

.mentor-list {
  border-bottom: 1px solid rgba(16, 15, 15, 0.5);
  padding-bottom: 16px;
  margin-bottom: 20px;
  align-items: center;
}

.mentor-list:last-child {
  border: none;
  padding: 0;
  margin: 0;
}

/* 
==========
Responsive Section
==========
*/
@media screen and (max-width: 1600px) {
  .col-10 {
    width: 100%;
  }

  .menu-btn,
  .close-btn {
    display: block;
  }

  .left-sideNav {
    position: fixed;
    left: -100%;
    background: transparent !important;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.15);
    height: calc(100vh - 36px);
    min-height: 100vh;
    top: 0;
  }

  .left-sideNav.open {
    left: 0;
  }
}

@media screen and (max-width: 1400px) {
  .dashboard-grid {
    grid-template-columns: 2fr 1fr 1fr;
  }

  .box-4 {
    grid-column: 2 / -1;
    grid-row: 2;
    min-height: 629px;
  }

  .box-5 {
    grid-column: span 3;
    grid-row: 3;
  }

  .box-7 {
    grid-row: 2;
    margin-top: 0;
    grid-column: 2 / 1;
  }
}

@media screen and (max-width: 992px) {
  /* Header Section */

  .dashboard-top {
    padding: 15px 12px;
    border-radius: 15px;
  }

  .dashboard-grid {
    grid-template-columns: 2fr 1fr;
  }

  .box-1,
  .box-2,
  .box-3 {
    height: auto;
  }

  .box-1 {
    grid-row: 1;
    grid-column: span 4;
  }

  .box-2 {
    grid-row: 2;
    grid-column: span 2;
    height: 240px;
  }

  .box-3 {
    grid-row: 2;
    grid-column: span 2;
    height: 240px;
  }

  .box-4 {
    grid-row: 3;
    grid-column: span 4;
    min-height: auto;
  }

  .box-5 {
    grid-row: 4;
    grid-column: span 4;
  }

  .box-6 {
    grid-row: 6;
    grid-column: span 4;
  }

  .box-7 {
    grid-row: 5;
    grid-column: span 4;
  }

  .common-box {
    padding: 22px 30px;
  }
}

@media screen and (max-width: 768px) {

  /* Header Section */
  .dashboard-grid {
    gap: 15px;
  }

  .dashboard-navbar {
    margin: 20px 0;
  }

  .dashboardNav-list>.title3,
  .item-list {
    margin-bottom: 15px;
  }

  .hdr-cntn>p {
    display: none;
  }

  .hdr-cntn>.title1 {
    margin: 0;
  }

  .box-2 {
    grid-row: 2;
    grid-column: span 4;
    height: auto;
  }

  .box-3 {
    grid-row: 3;
    grid-column: span 4;
    height: auto;
  }

  .box-4 {
    grid-row: 4;
  }

  .box-5 {
    grid-row: 5;
  }

  .box-6 {
    grid-row: 7;
  }

  .box-7 {
    grid-row: 6;
  }
}

@media screen and (max-width: 576px) {
  /* Header Section */

  .dashboard-hdr {
    flex-direction: column;
  }

  .hdr-cntn {
    margin-top: 10px;
    order: 2;
  }

  .button-list {
    margin-right: 10px;
  }

  .hdr-menu {
    width: 100%;
    order: 1;
  }

  /* .menu-btn::after{
        content: "Dashboard";
        font-size: var(--p-16px);
        margin-left: 10px;
        font-weight: 600;
    } */

  /* Content Section */

  .weak-dropdown {
    font-size: 0.8rem;
    padding: 5px 7px;
  }

  .mentor-list {
    flex-direction: column;
    align-items: normal;
  }

  .mentor-leftSide {
    align-items: normal !important;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .details-button {
    display: flex;
    justify-content: center;
  }

  .chart-box {
    flex-direction: column;
    margin-top: 20px;
  }

  .guage-btn {
    font-size: 12px;
    padding: 5px;
  }

  .common-box {
    padding: 20px 15px;
  }
}