/* .chart-card {
  width: 100%;
  height: 330px;
  background: #ffffff;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.chart-card canvas {
  width: 100% !important;
  height: 100% !important;
} */
/* .bar-chart {
  height: 260px;
} */
.bar-chart {
  height: 628px;
}
