.loader-overlay {
  position: fixed;
  inset: 0;
  background: #fff;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-content {
  text-align: center;
}

.loader-text-img,
.loader-logo-img {
  display: block;
  margin: 0 auto 10px;
}

.loader-line {
  width: 120px;
  height: 3px;
  background: #000;
  display: inline-block;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 120px;
  }
}
